workflows/revops/W-03_Lead_Routing.json
{
  "name": "W-03: Lead Routing",
  "nodes": [
    {
      "parameters": {},
      "id": "w03-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-contact-created",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "w03-webhook",
      "name": "Webhook - HubSpot Contact Create",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "webhookId": "hubspot-contact-created"
    },
    {
      "parameters": {
        "jsCode": "const contact = $input.item.json;\nconst score = parseInt(contact.lead_score) || 0;\n\nlet tier, ownerEnvKey, priority, slackChannel;\n\nif (score >= 81) {\n  tier = 'vip';\n  ownerEnvKey = 'HUBSPOT_OWNER_SENIOR_REP';\n  priority = 'URGENT';\n  slackChannel = $env.SLACK_CHANNEL_VIP || '#vip-leads';\n} else if (score >= 61) {\n  tier = 'hot';\n  ownerEnvKey = 'HUBSPOT_OWNER_SENIOR_REP';\n  priority = 'HIGH';\n  slackChannel = $env.SLACK_CHANNEL_SALES || '#sales-leads';\n} else if (score >= 31) {\n  tier = 'warm';\n  ownerEnvKey = 'HUBSPOT_OWNER_SALES_REP';\n  priority = 'MEDIUM';\n  slackChannel = $env.SLACK_CHANNEL_SALES || '#sales-leads';\n} else {\n  tier = 'cold';\n  ownerEnvKey = 'HUBSPOT_OWNER_SDR';\n  priority = 'LOW';\n  slackChannel = $env.SLACK_CHANNEL_SDR || '#sdr-queue';\n}\n\nreturn {\n  json: {\n    ...contact,\n    tier,\n    ownerEnvKey,\n    priority,\n    slackChannel,\n    lead_score: score\n  }\n};"
      },
      "id": "w03-classify",
      "name": "Classify Lead Tier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { hubspot_owner_id: $env[$json.ownerEnvKey] || '' } }) }}",
        "options": {}
      },
      "id": "w03-assign-owner",
      "name": "Assign HubSpot Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hubspot-api",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { hs_task_subject: '[' + $('Classify Lead Tier').item.json.priority + '] Follow up: ' + $('Classify Lead Tier').item.json.firstname + ' ' + $('Classify Lead Tier').item.json.lastname, hs_task_body: 'Lead Score: ' + $('Classify Lead Tier').item.json.lead_score + ' | Tier: ' + $('Classify Lead Tier').item.json.tier + ' | Source: ' + ($('Classify Lead Tier').item.json.lead_source || 'unknown'), hs_task_status: 'NOT_STARTED', hs_task_priority: $('Classify Lead Tier').item.json.priority === 'URGENT' ? 'HIGH' : $('Classify Lead Tier').item.json.priority, hubspot_owner_id: $env[$('Classify Lead Tier').item.json.ownerEnvKey] || '', hs_timestamp: new Date().toISOString() } }) }}",
        "options": {}
      },
      "id": "w03-create-task",
      "name": "Create HubSpot Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hubspot-api",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Classify Lead Tier').item.json.slackChannel, text: ':rotating_light: *New ' + $('Classify Lead Tier').item.json.tier.toUpperCase() + ' Lead Assigned*\\n\\n*Name:* ' + $('Classify Lead Tier').item.json.firstname + ' ' + $('Classify Lead Tier').item.json.lastname + '\\n*Score:* ' + $('Classify Lead Tier').item.json.lead_score + '\\n*Source:* ' + ($('Classify Lead Tier').item.json.lead_source || 'N/A') + '\\n*Revenue Potential:* $' + ($('Classify Lead Tier').item.json.revenue_potential || '0') + '\\n*Priority:* ' + $('Classify Lead Tier').item.json.priority, unfurl_links: false }) }}",
        "options": {}
      },
      "id": "w03-slack-notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-bot",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-followup",
              "leftValue": "={{ $('Classify Lead Tier').item.json.lead_score }}",
              "rightValue": 31,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w03-check-followup",
      "name": "Score >= 31?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.W05_WORKFLOW_ID }}",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "w03-trigger-w05",
      "name": "Trigger W-05 Follow-up",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1570, 300]
    },
    {
      "parameters": {},
      "id": "w03-noop",
      "name": "Cold Lead - No Follow-up",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1570, 500]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Classify Lead Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - HubSpot Contact Create": {
      "main": [
        [
          {
            "node": "Classify Lead Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Lead Tier": {
      "main": [
        [
          {
            "node": "Assign HubSpot Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign HubSpot Owner": {
      "main": [
        [
          {
            "node": "Create HubSpot Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Task": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Score >= 31?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 31?": {
      "main": [
        [
          {
            "node": "Trigger W-05 Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cold Lead - No Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "RevOps",
      "id": "revops"
    },
    {
      "name": "Lead Routing",
      "id": "lead-routing"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-26T09:00:00.000Z",
  "versionId": "1"
}
