workflows/revops/W-05_Follow_Up_Sequence.json
{
  "name": "W-05: Follow-up Automation Sequence",
  "nodes": [
    {
      "parameters": {},
      "id": "w05-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const contact = $input.item.json;\nreturn {\n  json: {\n    ...contact,\n    follow_up_sequence_day: 1,\n    sequence_started_at: new Date().toISOString()\n  }\n};"
      },
      "id": "w05-init",
      "name": "Init Sequence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL || 'https://waba.360dialog.io/v1' }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'template', template: { name: 'followup_day1', language: { code: 'en' }, components: [{ type: 'body', parameters: [{ type: 'text', text: $json.firstname || 'there' }] }] } }) }}",
        "options": {}
      },
      "id": "w05-day1-wa",
      "name": "Day 1 - WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { follow_up_sequence_day: '1', last_n8n_sync: new Date().toISOString() } }) }}",
        "options": {}
      },
      "id": "w05-update-day1",
      "name": "Update Day 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hubspot-api",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "w05-wait-2d",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $('Init Sequence').item.json.id + '?properties=behavior_tags,lead_score,lifecycle_stage' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "w05-check-replied-d3",
      "name": "Check Replied (Day 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hubspot-api",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-replied-d3",
              "leftValue": "={{ $json.properties.behavior_tags || '' }}",
              "rightValue": "replied",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w05-if-replied-d3",
      "name": "Replied? (Day 3)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {},
      "id": "w05-end-replied-d3",
      "name": "Replied - End Sequence",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL || 'https://waba.360dialog.io/v1' }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Init Sequence').item.json.phone, type: 'template', template: { name: 'followup_day3', language: { code: 'en' }, components: [{ type: 'body', parameters: [{ type: 'text', text: $('Init Sequence').item.json.firstname || 'there' }] }] } }) }}",
        "options": {}
      },
      "id": "w05-day3-wa",
      "name": "Day 3 - WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp API Key"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL || 'noreply@company.com' }}",
        "toEmail": "={{ $('Init Sequence').item.json.email }}",
        "subject": "={{ 'Following up, ' + ($('Init Sequence').item.json.firstname || '') }}",
        "emailType": "text",
        "message": "={{ 'Hi ' + ($('Init Sequence').item.json.firstname || 'there') + ',\\n\\nI wanted to follow up on our recent conversation. Would you have time for a quick call this week?\\n\\nBest regards' }}",
        "options": {}
      },
      "id": "w05-day3-email",
      "name": "Day 3 - Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2010, 400],
      "credentials": {
        "smtp": {
          "id": "smtp-creds",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $('Init Sequence').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { follow_up_sequence_day: '3', last_n8n_sync: new Date().toISOString() } }) }}",
        "options": {}
      },
      "id": "w05-update-day3",
      "name": "Update Day 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hubspot-api",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "days"
      },
      "id": "w05-wait-4d",
      "name": "Wait 4 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2450, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $('Init Sequence').item.json.id + '?properties=behavior_tags,lead_score' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "w05-check-replied-d7",
      "name": "Check Replied (Day 7)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hubspot-api",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-replied-d7",
              "leftValue": "={{ $json.properties.behavior_tags || '' }}",
              "rightValue": "replied",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w05-if-replied-d7",
      "name": "Replied? (Day 7)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2890, 400]
    },
    {
      "parameters": {},
      "id": "w05-end-replied-d7",
      "name": "Replied Day 7 - End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3110, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL || 'https://waba.360dialog.io/v1' }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Init Sequence').item.json.phone, type: 'template', template: { name: 'followup_day7', language: { code: 'en' }, components: [{ type: 'body', parameters: [{ type: 'text', text: $('Init Sequence').item.json.firstname || 'there' }] }] } }) }}",
        "options": {}
      },
      "id": "w05-day7-wa",
      "name": "Day 7 - WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3110, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $('Init Sequence').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { follow_up_sequence_day: '7', last_n8n_sync: new Date().toISOString() } }) }}",
        "options": {}
      },
      "id": "w05-update-day7",
      "name": "Update Day 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3330, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hubspot-api",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "id": "w05-wait-7d",
      "name": "Wait 7 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3550, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $('Init Sequence').item.json.id + '?properties=behavior_tags,lead_score' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "w05-check-replied-d14",
      "name": "Check Replied (Day 14)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3770, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hubspot-api",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-replied-d14",
              "leftValue": "={{ $json.properties.behavior_tags || '' }}",
              "rightValue": "replied",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w05-if-replied-d14",
      "name": "Replied? (Day 14)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3990, 500]
    },
    {
      "parameters": {},
      "id": "w05-end-replied-d14",
      "name": "Replied Day 14 - End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [4210, 400]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL || 'noreply@company.com' }}",
        "toEmail": "={{ $('Init Sequence').item.json.email }}",
        "subject": "={{ 'Last check-in, ' + ($('Init Sequence').item.json.firstname || '') }}",
        "emailType": "text",
        "message": "={{ 'Hi ' + ($('Init Sequence').item.json.firstname || 'there') + ',\\n\\nI\\'ve reached out a few times and haven\\'t heard back. I understand you\\'re busy. If you\\'re interested in learning more, feel free to reply to this email anytime.\\n\\nBest regards' }}",
        "options": {}
      },
      "id": "w05-day14-email",
      "name": "Day 14 - Final Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [4210, 600],
      "credentials": {
        "smtp": {
          "id": "smtp-creds",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $('Init Sequence').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { follow_up_sequence_day: '14', behavior_tags: ((($('Check Replied (Day 14)').item.json.properties.behavior_tags || '') + ';inactive').split(';').filter((v, i, a) => v && a.indexOf(v) === i).join(';')), last_n8n_sync: new Date().toISOString() } }) }}",
        "options": {}
      },
      "id": "w05-mark-inactive",
      "name": "Mark Inactive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4430, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hubspot-api",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $env.W06_WORKFLOW_ID }}",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "w05-trigger-w06",
      "name": "Trigger W-06 Re-engagement",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [4650, 600]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Init Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Sequence": {
      "main": [
        [
          {
            "node": "Day 1 - WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 1 - WhatsApp": {
      "main": [
        [
          {
            "node": "Update Day 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Day 1": {
      "main": [
        [
          {
            "node": "Wait 2 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [
          {
            "node": "Check Replied (Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Replied (Day 3)": {
      "main": [
        [
          {
            "node": "Replied? (Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replied? (Day 3)": {
      "main": [
        [
          {
            "node": "Replied - End Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 3 - WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 3 - WhatsApp": {
      "main": [
        [
          {
            "node": "Day 3 - Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 3 - Email": {
      "main": [
        [
          {
            "node": "Update Day 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Day 3": {
      "main": [
        [
          {
            "node": "Wait 4 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4 Days": {
      "main": [
        [
          {
            "node": "Check Replied (Day 7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Replied (Day 7)": {
      "main": [
        [
          {
            "node": "Replied? (Day 7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replied? (Day 7)": {
      "main": [
        [
          {
            "node": "Replied Day 7 - End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 7 - WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 7 - WhatsApp": {
      "main": [
        [
          {
            "node": "Update Day 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Day 7": {
      "main": [
        [
          {
            "node": "Wait 7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 7 Days": {
      "main": [
        [
          {
            "node": "Check Replied (Day 14)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Replied (Day 14)": {
      "main": [
        [
          {
            "node": "Replied? (Day 14)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replied? (Day 14)": {
      "main": [
        [
          {
            "node": "Replied Day 14 - End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 14 - Final Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 14 - Final Email": {
      "main": [
        [
          {
            "node": "Mark Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Inactive": {
      "main": [
        [
          {
            "node": "Trigger W-06 Re-engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "RevOps",
      "id": "revops"
    },
    {
      "name": "Follow-up",
      "id": "follow-up"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-26T09:00:00.000Z",
  "versionId": "1"
}
